


<div class="row">
  <div class="col-sm-3"><app-main></app-main></div>
  <div class="col-sm-9">
    <div style="background-color: lightblue">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Manage Items</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Manage Items</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">

              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Items Information</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col col-12">
                      <form (ngSubmit)="saveItems()" #frmItem="ngForm">
                        <p class="form-group">
                          <label >Item Code</label>
                          <input #txtcode name="txtId" [(ngModel)]="selectedItem.code" class="form-control" type="text">
                        </p>

                        <p class="form-group">
                          <label >Discriptione</label>
                          <input name="txtName" class="form-control" type="text" [(ngModel)]="selectedItem.description">
                        </p>

                        <p class="form-group">
                          <label >Unit Price</label>
                          <input name="txtUnitPrice" class="form-control" type="text" [(ngModel)]="selectedItem.unitPrice">
                        </p>

                        <p class="form-group">
                          <label>QtyOnHand</label>
                          <input name="txtAddress" class="form-control" type="text" [(ngModel)]="selectedItem.qty">
                        </p>
                        <div>
                          <button  type="submit" class="btn btn-success" id="btnsaveitem"><b>Save</b></button>
                          &nbsp;
                          <button  type="button" class="btn btn-danger ">Clear</button>
                          &nbsp;
                          <button type="button" class="btn btn-warning" (click)="updateItems()">Edit</button>


                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->

            </div>
          </div>
          <div class="row">
            <div style="background-color: #fffaf0" class="col-md-12">








              <table  id="tblItems" class="table table-hover table-fixed">
                <thead>
                <tr>
                  <th>Code</th>
                  <th>discription</th>
                  <th>Unic Price</th>
                  <th>QtyOnHand</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let itemss of ite" (click)="tableRow_Click_Item(itemss)">
                  <td>{{itemss.code}}</td>
                  <td>{{itemss.description}}</td>
                  <td>{{itemss.unitPrice}}</td>
                  <td>{{itemss.qty}}</td>
                  <td>
                    <i (click)="deleteItem(itemss.code)" class="fa fa-trash fa-2x"></i>
                    <button style="background-color: red" (click)="deleteItem(itemss.code)"> delete</button>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="4">

                  </td>
                </tr>
                </tfoot>
              </table>








            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    </div>


  </div>
</div>



